{% extends 'app/base.html' %}

{% block js %}
<script>
    function eliminarProducto(id) {
        Swal.fire({
            "title": "¿Estas Seguro?",
            "icon": "question",
            "showCancelButton": true,
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"

        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar-producto/" + id + "/"
                }
            })
    }
</script>

{% endblock %}

{% block contenido %}
{% load humanize %}

<br>
<br>
<div class="card">
    <div class="card-body">
        <h2>
            Listado de Productos
        </h2>
        <hr>
        <table class="table table-striped table-hover table-responsive">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
                <th>Nuevo</th>
                <th>Opciones</th>
            </tr>

            {% for p in productos %}
            <tr>
                <td>{{ p.nombre | title }}</td>
                <td>{{ p.precio | intcomma }}</td>
                <td>{{ p.marca | title}}</td>
                <td>
                    {% if p.nuevo %}
                    SI
                    {% else%}
                    NO
                    {% endif %}
                </td>
                
                <td>
                <a href="{% url 'modificar_producto' p.id%}" class="btn btn-info"> Modificar</a>
                <a href="#" onclick="eliminarProducto({{p.id}})" class="btn btn-danger"> Eliminar</a>
                </td>

            </tr>
            {% endfor %}

        </table>
    </div>
</div>

<a href="{% url 'agregar_producto' %}" class="btn btn-primary">Agregar productos</a>


{% endblock %}