{% extends 'app/base.html' %}

{% block js %}
<script>
    function eliminarOferta(id) {
        Swal.fire({
            "title": "¿Estas Seguro?",
            "icon": "question",
            "showCancelButton": true,
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"

        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar-oferta/" + id + "/"
                }
            })
    }
</script>

{% endblock %}

{% block contenido %}
{% load humanize %}

<br>
<br>
<div class="card">
    <div class="card-body">
        <h2>
            Listado de Ofertas
        </h2>
        <hr>
        <table class="table table-striped table-hover table-responsive">
            <tr>
                <th>Vigente</th>
                <th>Producto </th>
                <th>Porcentaje</th>
                <th>Sucursal</th>
                <th>Acciones</th>
            </tr>

            {% for oferta in ofertas %}
            <tr>
                <td>
                    {% if oferta.vigente %}
                    SI
                    {% else%}
                    NO
                    {% endif %}
                </td>
                
                <td>{{ oferta.producto | title }}</td>
                <td>{{ oferta.porcentaje }}</td>
                <td>{{ oferta.sucursal | title }}</td>
                <td>{{ oferta.acciones | title }}</td>
                

                <td>
                    <a href="{% url 'modificar_oferta' oferta.id%}" class="btn btn-info"> Modificar</a>
                    <a href="#" onclick="eliminarOferta({{oferta.id}})" class="btn btn-danger"> Eliminar</a>
                </td>

            </tr>
            {% endfor %}

        </table>
    </div>

</div>

<a href="{% url 'crear_oferta' %}" class="btn btn-primary">Agregar oferta</a>


{% endblock %}