{% extends 'app/base.html' %}

{% block js %}
<script>
    function eliminarTienda(id) {
        Swal.fire({
            "title": "¿Estas Seguro?",
            "icon": "question",
            "showCancelButton": true,
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"

        })
        .then(function (result) {
            if (result.isConfirmed) {
                window.location.href = "/eliminar-tienda/" + id + "/"
            }
        })
    }
</script>

{% endblock %}

{% block contenido %}
{% load humanize %}

<br>
<br>
<div class="card">
    <div class="card-body">
        <h2>
            Listado de Sucursales
        </h2>
        <hr>
        <table class="table table-striped table-hover table-responsive">
            <tr>
                <th>Nombre</th>
                <th>Direccion </th>
                <th>Ciudad</th>
                <th>Comuna</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Opciones</th>
            </tr>

            {% for s in sucursales %}
            <tr>
                <td>{{ s.nombre | title }}</td>
                <td>{{ s.direccion | title }}</td>
                <td>{{ s.ciudad | title}}</td>
                <td>{{ s.comuna | title}}</td>
                <td>{{ s.telefono | title}}</td>
                <td>{{ s.correo | title}}</td>
                
                <td>
                    <a href="{% url 'modificar_tienda' s.id%}" class="btn btn-info"> Modificar</a>
                    <a href="#" onclick="eliminarTienda({{s.id}})" class="btn btn-danger"> Eliminar</a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

<a href="{% url 'crear_tienda' %}" class="btn btn-primary">Crear Tienda</a>


{% endblock %}