{% extends 'app/base.html' %}

{% block js %}
<script>
    function eliminarVendedor(id) {
        Swal.fire({
            "title": "¿Estas Seguro?",
            "icon": "question",
            "showCancelButton": true,
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"

        })
        .then(function (result) {
            if (result.isConfirmed) {
                window.location.href = "/eliminar-vendedor/" + id + "/"
            }
        })
    }
</script>

{% endblock %}

{% block contenido %}
{% load humanize %}

<br>
<br>
<div class="card">
    <div class="card-body">
        <h2>
            Listado de Vendedores   
        </h2>
        <hr>
        <table class="table table-striped table-hover table-responsive">
            <tr>
                <th>Nombres</th>
                <th>Run</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Encargado</th>
                <th>Sucursal</th>
                <th>Opciones</th>
            </tr>

            {% for v in vendedores %}
            <tr>
                <td>{{ v.nombres | title }}</td>
                <td>{{ v.run | title }}</td>
                <td>{{ v.apPaterno | title}}</td>
                <td>{{ v.apMaterno | title}}</td>
                <td>
                    {% if v.encargado %}
                    SI
                    {% else%}
                    NO
                    {% endif %}
                </td>
                <td>{{ v.sucursal | title}}</td>
                <td>
                    <a href="{% url 'modificar_vendedor' v.id%}" class="btn btn-info"> Modificar</a>
                    <a href="#" onclick="eliminarVendedor({{v.id}})" class="btn btn-danger"> Eliminar</a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
   
</div>

<a href="{% url 'crear_vendedor' %}" class="btn btn-primary">Crear Vendedor</a>


{% endblock %}