{% extends 'app/base.html' %}

{% block js %}
<script>
    function eliminarVenta(id) {
        Swal.fire({
            "title": "¿Estas Seguro?",
            "icon": "question",
            "showCancelButton": true,
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"

        })
        .then(function (result) {
            if (result.isConfirmed) {
                window.location.href = "/eliminar-venta/" + id + "/"
            }
        })
    }
</script>

{% endblock %}

{% block contenido %}
{% load humanize %}

<br>
<br>
<div class="card">
    <div class="card-body">
        <h2>
            Listado de Ventas
        </h2>
        <hr>
        <table class="table table-striped table-hover table-responsive">
            <tr>
                <th>Vendedor</th>
                <th>Sucursal</th>
                <th>Fecha hora</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Comentario</th>
                <th>Anulada</th>
            </tr>

            {% for venta in ventas %}
            <tr>
                <td>{{ venta.vendedor.nombres }} {{ venta.vendedor.apPaterno }}</td>
                <td>{{ venta.sucursal.nombre }}</td>
                <td>{{ venta.fechaHora }}</td>
                <td>{{ venta.producto.nombre }}</td>
                <td>{{ venta.cantidad }}</td>
                <td>{{ venta.comentario }}</td>
                <td>{{ venta.anulada }}</td>
                
                
            </tr>
            {% endfor %}

        </table>
    </div>
   
</div>

<a href="{% url 'registrar_venta' %}" class="btn btn-primary">Registrar Venta</a>


{% endblock %}