<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Electronica</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    
    {% load pwa %}
    {% progressive_web_app_meta %}

</head>

<body>


    <header id="header">
        <img class="menu" src="{% static 'app/img/menuiconwhite.png' %}" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img class="logo" src="{% static 'app/img/tiendaelectronica.jpg' %}" alt="logo">
        </div>

        
        <div>
            <nav id="nav">
                {% if user.is_authenticated %}
                
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuBoton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Gestiones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton">
                        <a class="dropdown-item" href="{% url 'listar_producto' %}">Gestion de Productos</a>
                        {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'listar_tienda' %}">Gestion de Sucursales</a>
                        {% endif %}
                        {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'listar_vendedor' %}">Gestion de Vendedores</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'mostrar_venta' %}">Gestion de Ventas</a>
                        <a class="dropdown-item" href="{% url 'listar_oferta' %}">Gestion Oferta</a>
                        
                    </div>
                </div>
                {% endif %}
               
                <ul>
                
                    <li>
                        <a href="{% url 'home' %}"> Inicio </a>
                    </li>
                    <li>
                        <a href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li><a href="{% url 'galeria' %}">Galería</a></li>
                    
                    &nbsp;
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
                    <li><a href="{% url 'registro' %}">Registrate!</a></li>
                    {% endif %}

                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">


        {% block contenido %}
        {% endblock %}

    </div>


    <footer>
        <div class="marcas">
            <img src="{% static 'app/img/footer/apple.png' %}" alt="apple">
            <img src="{% static 'app/img/footer/lenovo.png' %}" alt="lenovo">
            <img src="{% static 'app/img//footer/microsoft.png' %}" alt="microsoft">
            <img src="{% static 'app/img/footer/samsung.png' %}" alt="samsung">
            <img src="{% static 'app/img/footer/xiaomi.png' %}" alt="xiaomi">
        </div>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="{% static 'app/js/menu.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
   
    {% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
            "title": "Felicitaciones",
            "text": "{{m}}",
            "icon": "success"
        })
    </script>
    {% endfor %}
    {% endif %}

    {% block js%}
    {% endblock %}

    
</body>

</html>