{% extends 'app/base.html' %}



{% block contenido %}
{% load crispy_forms_tags%}


<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <h2>Contactanos!</h2>
        <hr>
        <form action="" class="" method="post">
    
            {% csrf_token %}
        
            {{ form | crispy }}
        
            <div class="d-flex justify-content-end">
                <input type="reset" value="Cancelar" class="btn btn-secondary">
                &nbsp;
                <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
            </div>
            
        
        </form>
        {{mensaje}}
    </div>

</div>

<table id="tablacontactos">
    
</table>

{% endblock %}

