<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Ingreso al sistema</title>
</head>
{% load socialaccount %}
{% load crispy_forms_tags %}
<body>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>
                            Ingresa tus Datos
                        </h2>
                        <hr>
                        <form method="post">

                            {% csrf_token %}
                            {{ form | crispy}}

                            <input type="submit" value="Ingresar" class="btn btn-success float-right mt-3">
                            
                            <hr>

                            <a href="{% url 'home' %}">Ir al inicio</a> |
                            <a href="{% url 'registro' %}">Registrar cuenta</a>
                            
                        </form>
                        <a href="{% provider_login_url 'google' %}">Ingresar con google</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>