<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
    <title>Registro</title>
</head>

<body>
    {% load crispy_forms_tags %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>
                            Registro de Usuario
                            <hr>
                            <form action="" method="post" style="font-size: 15px;">

                                {% csrf_token %}
                                {{ form | crispy}}
                                <input type="submit" value="Registro" class="btn btn-success float-right">
                                <hr>
                                <a href="{% url 'home' %}">Ir al inicio</a> |
                                <a href="{% url 'login' %}">Iniciar sesión</a>
                            </form>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>